/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and background */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    text-align: center;
}

/* Welcome message */
.welcome-message {
    margin-bottom: 30px;
    margin-top: 50px; /* Added margin-top to push the text a little lower */
}

.welcome-message h1 {
    font-size: 30px;
    color: #333;
    margin: 0;
}

/* Login form */
.login-form {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    color: #333;
}

/* Input group */
.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    font-size: 14px;
    color: #555;
    margin-bottom: 8px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}

.input-group input:focus {
    border-color: #5e5eff;
}

/* Submit button */
.login-btn {
    background-color: #0e0e19;
    color: #fff;
    border: none;
    padding: 14px 0;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #4747e3;
}

/* Sign-up link */
.signup-link {
    margin-top: 20px;
    font-size: 14px;
}

.signup-link a {
    color: #050519;
    text-decoration: underline;
}

.signup-link a:hover {
    text-decoration: none;
}

/* Responsive design */
@media (max-width: 768px) {
    .login-form {
        padding: 15px;
    }

    h1 {
        font-size: 24px;
    }

    .input-group input {
        font-size: 14px;
        padding: 10px;
    }

    .login-btn {
        padding: 12px 0;
        font-size: 14px;
    }
}
